# Creating plots

## 0) Imports and definitions

In [43]:
# Standard
import pandas as pd
import numpy as np
from datetime import datetime

# Viz
import matplotlib.pyplot as plt
import plotly

# Other
import zeep
import json
import urllib
import requests

## 1) WSDL

In [44]:
wsdl = './FachadaWSSGS.wsdl'
client = zeep.Client(wsdl=wsdl)

In [45]:
long_array_type = client.get_type('ns0:ArrayOfflong')
r = client.service.getValoresSeriesVO(long_array_type([7384]), '01/01/2000', '05/04/2021')
aux = zeep.helpers.serialize_object(r[0]['valores'])

In [46]:
df_vendas = pd.DataFrame(aux)
df_vendas['valor'] = df_vendas['valor'].apply(lambda x: int(x['_value_1']))
df_vendas.head()

,ano,anoFim,bloqueado,bloqueioLiberado,dia,diaFim,mes,mesFim,oid,oidSerie,svalor,valor
0,2000,1800,False,True,1,1,1,1,1220468,7384,"{'_value_1': '69984', 'id': None, 'href': None...",69984
1,2000,1800,False,True,1,1,2,1,1220469,7384,"{'_value_1': '82262', 'id': None, 'href': None...",82262
2,2000,1800,False,True,1,1,3,1,1220470,7384,"{'_value_1': '76748', 'id': None, 'href': None...",76748
3,2000,1800,False,True,1,1,4,1,1220471,7384,"{'_value_1': '91613', 'id': None, 'href': None...",91613
4,2000,1800,False,True,1,1,5,1,1220472,7384,"{'_value_1': '98154', 'id': None, 'href': None...",98154

## 3) Data POA

In [47]:
url = 'https://dadosabertos.poa.br/api/3/action/datastore_search?resource_id=b56f8123-716a-4893-9348-23945f1ea1b9'

r = requests.get(url)
data_json = r.json()

In [48]:
df_acidentes = pd.DataFrame.from_dict(data_json['result']['records'])
df_acidentes.head()

,_id,data_extracao,predial1,queda_arr,data,feridos,feridos_gr,mortes,morte_post,fatais,...,longitude,latitude,log1,log2,tipo_acid,dia_sem,hora,noite_dia,regiao,consorcio
0,1,2021-09-01T01:33:40,0,0,2020-10-17T00:00:00,1,0,0,0,0,...,0.000000,0.000000,R MARCOS MOREIRA,R GASTON ENGLERT,ABALROAMENTO,SÁBADO,19:00:00.0000000,NOITE,NORTE,
1,2,2021-09-01T01:33:40,8487,0,2016-01-01T00:00:00,0,0,0,1,1,...,-51.095216,-30.134588,ESTR JOAO DE OLIVEIRA REMIAO,,CHOQUE,SEXTA-FEIRA,12:00:00.0000000,DIA,LESTE,
2,3,2021-09-01T01:33:40,0,0,2016-01-02T00:00:00,1,0,0,0,0,...,-51.200627,-30.004450,AV EDVALDO PEREIRA PAIVA,,QUEDA,SÁBADO,06:30:00.0000000,DIA,NORTE,
3,4,2021-09-01T01:33:40,240,0,2016-01-02T00:00:00,1,0,0,0,0,...,-51.218421,-30.046960,AV ERICO VERISSIMO,,ABALROAMENTO,SÁBADO,18:30:00.0000000,NOITE,CENTRO,STS
4,5,2021-09-01T01:33:40,2084,0,2016-01-02T00:00:00,3,0,0,0,0,...,-51.129850,-30.093210,ESTR JOAO DE OLIVEIRA REMIAO,,CHOQUE,SÁBADO,20:15:00.0000000,NOITE,LESTE,

## 4) Auxiliary functions

## 5) Plots

In [53]:
df = df_acidentes.copy()

In [62]:
bool_list = ['mortes']
bool_values = [0]

df_aux = df.copy()
for col, value, in zip(bool_list, bool_values):
    print(col, value)
    df_aux = df_aux[df_aux[col] == value]

mortes 0

In [64]:
df_aux.columns

Index(['_id', 'data_extracao', 'predial1', 'queda_arr', 'data', 'feridos',
       'feridos_gr', 'mortes', 'morte_post', 'fatais', 'auto', 'taxi',
       'lotacao', 'onibus_urb', 'onibus_met', 'onibus_int', 'caminhao', 'moto',
       'carroca', 'bicicleta', 'outro', 'cont_vit', 'ups', 'patinete',
       'idacidente', 'longitude', 'latitude', 'log1', 'log2', 'tipo_acid',
       'dia_sem', 'hora', 'noite_dia', 'regiao', 'consorcio'],
      dtype='object')

In [61]:
df_acidentes['mortes'].value_counts()

0    100
Name: mortes, dtype: int64